@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-text-primary: #021218;
  --color-text-secondary: #fff2d2;

  --color-bg-primary: #141f22;
  --color-bg-secondary: #fff2d2;

  --color-button-bg: #e4b37d;
  --color-button-bg-hover: #e4b27de9;
  --color-button-text: #032023;
  --color-button-bg-cancel: #ff6f00;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: var(--color-text-primary);
}
